@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.home__page__carousel{
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: gray;
}

.small__carousel__container{
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 300px;

    .slider__item{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}

.small__poster__container{
    position: relative;
    width: 100%;
    overflow: hidden; 

    .slider__item{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}