.top__two__footer__main__container{
    position: relative;
    width: 100%;
    height: fit-content;  
    .bottom__footer{
        position: relative;
        width: 100%;
        height: fit-content;
        background-color: rgb(22, 4, 38);
        border-top: 1px solid rgba($color: white, $alpha: .3);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .top__main__container{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            position: relative;  
            .top__logo__container{
                position: relative; 
                padding-bottom: 20px;
                img{
                    position: relative;
                    height: 50px;
                }
            }
            .middle__link__container{
                position: relative;
                display: flex; 
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a{
                    padding: 5px 10px;
                }
            }
            .last__link__container{
                position: relative;
                display: flex; 
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a{
                    padding: 20px 20px 0 20px;
                    font-size: 30px;
                }
            }
        }
        .bottom__main__container{
            height: 50px;
            position: relative;
            width: 100%; 
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer__small__font{
                font-size: 12px;
            }
        }
        
    }
}